.App {
  text-align: center;
}

html { 
  background:  url("./assets/1178.gif") no-repeat center center fixed; 
  background-size: cover;
}

.main-logo {
  height: 10vmin;
  margin-left: 5%;
  margin-top: 5%;
  align-self: flex-start;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 30vmin;
  width: 70%;
  justify-content: space-between;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

.p-container {
  border-radius: 50px;
  width: 70%;
  background-color: black;
  margin-top: 2%;
  opacity: 70%;
  align-self: center;
}

p {
  color:white;
  font-size: 100%;
}

